// ========== КНОПКА С КРУГЛЫМИ КРАЯМИ ==============================
.buttonCircle, .buttonCvadro {
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.93rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1rem 4rem;
    background: #0F0F0F;
    white-space: nowrap;
    transition: linear .2s;
    &:hover {
        color: #0F0F0F;
        padding: 1rem 4rem;
        background: #ffffff;
    }
}
.buttonCircle {
    border-radius: 2rem;
    
}
.buttonCvadro {
    outline: 1px solid #0F0F0F;
}

.buttonLike {
    cursor: pointer;
    display: block;
    position: relative;
    width: 2.98rem;
    height: 2.98rem;
    color: #0F0F0F;
    outline: 1px solid #0F0F0F;

    transition: .2s linear all;
    span {
        position: absolute;
        font-size: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        background: #0F0f0f;
        color: #fff;
    }
}

//=========== ПЕРЕВЕРНУТЫЕ КНОПКИ ===================================

.buttonDeg {
    cursor: pointer;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    text-align: start;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg) translate(50%, -50%);
    transition: .2s linear;
    white-space: nowrap;
    .buttonDegArr {
        transform: rotate(90deg);
        &::before {
            position: absolute;
            top: -.8rem;
            left: -0.5rem;
            font-size: 0.35em;
            line-height: 1.2em;
            color: rgb(255, 255, 255);
            line-height: 100%;
           
        }
    }
    

    &:hover {
        background: #000;
    }
}
// ================= CASTOM SELECT =============================
.selectCastom {

    /* .selectCastom__legend */

    &__legend {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 118%;

        letter-spacing: 0.045em;
        color: #1E1E1E;
        margin-bottom: .5em;
    }

    /* .selectCastom__body */

    &__body {
        position: relative;
        width: 100%;
        height: 3.1rem;
        outline: 1px solid #C1C1C1;
    }

    /* .selectCastom__main */

    &__main {
        cursor: pointer;
        width: 100%;
        height: 100%;
        padding: .5rem 1.5rem;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2.1rem;
        letter-spacing: 0.045em;
        color: #5F5F5F;
    }

    /* .selectCastom__select */

    &__select {
        position: absolute;
        z-index: 1;
        top: 120%;
        width: 100%;
        background: #fff;
        outline: 1px solid #C1C1C1;
        height: 0px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        overflow-y: auto;
        &.active {
            height: 8.7rem;
            opacity: 1;
            visibility: visible;
        }

    }

    /* .selectCastom__variatn */

    &__variatn {
        cursor: pointer;
        width: 100%;
        height: 2.9rem;
        padding: .5rem 1.5rem;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.9rem;
        letter-spacing: 0.045em;
        color: #5F5F5F;
        &:hover {
            background: #f0f0f0;
        }
    }
}

// ================= CASTOM INPUT ===============================
.inputCastom {
    &__legend {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 118%;

        letter-spacing: 0.1em;
        color: #1E1E1E;
        margin-bottom: .5em;
    }
    &__body {
        position: relative;
        width: 100%;
        height: 3.1rem;
        outline: 1px solid #C1C1C1;
        .inputCastom__input {
            width: 100%;
            height: 100%;
            padding: 0 1rem;
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 400;
            font-size: 1rem;
            letter-spacing: 0.045em;
            color: #5F5F5F;
            &::placeholder {
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 400;
                font-size: 0.9rem;
                letter-spacing: 0.045em;
                color: #878787;
            }
        }
        &.file-input {
            display: flex;
            align-items: center;
        }
    }

}
// ================= INPUT FILE =================================



// ================= CASTOM RADIO ===============================
.checkBoxCastom {

    /* .checkBoxCastom__legend */

    &__legend {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 118%;

        letter-spacing: 0.045em;
        color: #1E1E1E;
        margin-bottom: .5em;
    }
    .silver, .gold {
        cursor: pointer;

       
        .checkBoxCastom-Fake {
            
            position: relative;
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: .6em;

        }
        .checkBoxCastom-Input {
            display: none;
            
        }
        .checkBoxCastom-Input:checked + .checkBoxCastom-Fake {
            border: #1E1E1E solid 1px;
        }

    }
    .silver {
        .checkBoxCastom-Fake {
            background: #D9D9D9;
        }
    }
    .gold {
        .checkBoxCastom-Fake {
            background: #FF9A3E;
        }
        margin-left: 1.34rem;
    }
}

// ===================== CASTOM TEXTAREA ===================
.textAreaCastom {

    /* .textAreaCastom__legend */

    &__legend {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 118%;

        letter-spacing: 0.045em;
        color: #1E1E1E;
        margin-bottom: .5em;
    }
    textarea {
        width: 100%;
        height: 9.7rem;
        outline: 1px solid #C1C1C1;
        resize: none;
        padding: 1rem;
        
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.9rem;
        letter-spacing: 0.045em;
        color: #5F5F5F;
    }
}

// ==================== ACTION LENT =======================
.actionLent {
    width: 100%;
    min-height: 40px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    &__content {
        padding: 5px;
        text-align: center;
        line-height: 120%;
    }
     /* .actionLent_bold */

    &__bold {
        font-weight: 500;
        font-size: .9rem;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    /* .actionLent_regular */

    &__regular {
        font-weight: 400;
        font-size: 0.9rem;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

// =========== COUNTER =====================
.counterSumProduct {
    white-space: nowrap;
    display: flex;
    width: 5.5rem;
    height: 1.9rem;
    outline: 1px #000 solid;
    padding: .2rem;
		/* .counterSumProduct__dicrement */

		&__dicrement, &__number, &__increment  {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            span {
                line-height: 100%;
            };
		}
        &__dicrement:hover, &__increment:hover {

            background: rgb(234, 234, 234);
        }

		/* .counterSumProduct__number */

		&__number {
		}

		/* .counterSumProduct__increment */

		&__increment {
		}
}
//==================== LOADING ==========================
.loadingSpinner {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}